@import url(reset.css);
@import url(custom_reset.css);

.lab_rabbit {
	background-color: pink;
	width:300px;
	height: 300px;
}

/* small screen > 600px */

@media screen and (min-width: 600px){
	.lab_rabbit{
		background-color: blue;
	}
}

