@import url(reset.css);
@import url(custom_reset.css);

.main {
	display: flex;
	//width: 1000px;
	background-color: blue;
	padding: 30px 15px;
	align-items: flex-start;
}
.block{
	background-color: pink;
	padding: 30px;
	margin: 15px;
	width: calc(100% - (6 * 30px) / 3);
}

.block:first-child{
	height: 400px;
}


