/* Default browser styles reset*/

* {
	margin: 0;
}

h1, h2, h3, h4, h6, h6{
	font-size: inherit;
	font-weight: normal;
}


/* Box-sizing reset method*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Lists reset*/

ul {
	padding-left: 0;
}

ul > li{
	list-style: none;
}

/* Links style reset */

a{
	text-decoration: none;
}

/* ------------------ Reset end -----------------  */

/* Variables */

:root{
	--c-red: #FE1A19;
	--c-yellow: #E5E000;
	--ff-times: Times New Roman, serif;
	--ff-helv: Helvetica, sans-serif;
	--fs-body: 2rem;
}

/* ------------------ Variables end -----------------  */

html{
	font-size: 62.5%;
}

.header, .footer{
	background-color: var(--c-red);
	height: 6rem;
	padding: 2rem;
	font-size: var(--fs-body);
	line-height: 2.3rem;
	color: white;
	text-transform: uppercase;
	font-family: var(--ff-helv);
	font-weight: 700;
}

.column{
	padding: 3.3rem;
	border: 0.5rem solid var(--c-yellow);
	border-radius: 3rem;
	width: 40rem;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	margin: 5.2rem 0;
}

.column:nth-child(2){
	margin-left: 5rem;
	margin-right: 5rem;
}

.column h2{
	font-family: var(--ff-helv);
	font-size: var(--fs-body);
	line-height: 2.3rem;
	font-weight: 700;
	margin-bottom: 4.1rem;
}

.main{
	font-size: 0;
	text-align: center;
}

.column li, .column h3{
	font-family: var(--ff-times);
	font-size: var(--fs-body);
	line-height: 2.3rem;
}

.column ul{
	padding-left: 0;
}

.column li{
	list-style: none;
}

.column h3{
	text-transform: uppercase;
	margin-top: 2.3rem;
}
