/* Default browser styles reset*/

* {
	margin: 0;
}

h1, h2, h3, h4, h6, h6{
	font-size: inherit;
	font-weight: normal;
}


/* Box-sizing reset method*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Lists reset*/

ul {
	padding-left: 0;
}

ul > li{
	list-style: none;
}

/* Links style reset */

a{
	text-decoration: none;
}

/* ------------------ Reset end -----------------  */

/* Variables */

:root{
	--c-yellow: #FFE138;
}

/* ------------------ Variables end -----------------  */

html{
	font-size: 62.5%;
}

body{
	font-family: Times New Roman, serif;
}

.header, .footer{
	height: 16rem;
	background-color: var(--c-yellow);
	font-size: 5rem;
	text-transform: uppercase;
	line-height: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main{
	display: flex;
	justify-content: space-between;
	width: 80vw;
	margin: 7rem auto;
	align-items: flex-start;
}

.product{
	border: .1rem solid black;
	width: calc((100% - 10rem)/3);
}

.product_img{
	display: block;
	width: 100%;
}

.product_title, .product_desc{
	font-size: 2rem;
	line-height: 2.5rem;
	margin: 3rem;
}

.product_title{
	font-weight: 700;
	margin-bottom: 3rem;
}