/* Default browser styles reset*/

* {
	margin: 0;
}

h1, h2, h3, h4, h6, h6{
	font-size: inherit;
	font-weight: normal;
}


/* Box-sizing reset method*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Lists reset*/

ul {
	padding-left: 0;
}

ul > li{
	list-style: none;
}

/* Links style reset */

a{
	text-decoration: none;
}

/* Adaptive font-size for rem */

html{
	font-size: 62.5%; /* 10px / 16px */
}


/* ------------------ Reset end -----------------  */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

/* ------------------ Fonts end -----------------  */

/* Variables */

:root{
	--c-red: #FF0000;
}

/* ------------------ Variables end -----------------  */

.page{
	font-family: 'Space Mono', monospace;
	background-color: black;
	font-size: 20px;
	line-height: 30px;
	color: white;
}

.page_theme-light{
	background-color: white;
	color: black; 
}

.main{
	margin: 0px 12px;
}

a{
	color: white;
}

.page_theme-light a{
	color: black;
}

.nav{
	width: 307px;
	margin: 41px auto 25px;
}

.nav a{
	line-height: 35px;
}

.nav a:hover{
	color: white;
	background-color: var(--c-red);
}

.header{
	text-align: center;
	padding: 116px 0 50px;
}

.header span{
	display: block;
	margin-top: 38px;
}

.footer{
	display: flex;
	justify-content: center;
	padding: 50px 12px 116px;
}

.footer-socials a{
	margin: 0 15px;
}


.footer .nav{
	margin: 0;
	width: 100%;
}

.footer-socials li{
	display: inline-block;
}

.footer-socials a, .footer-socials img{
	display: block;
}

.news-gallery{
	margin-bottom: 40px;
}

.news-gallery img{
	display: block;
	width: 100%;
	margin-bottom: 20px;
}

.news-title{
	font-size: 25px;
	line-height: 37px;
	margin-bottom: 24px;
}

.gallery-counter{
	text-align: center;
}

@media screen and (min-width: 600px){
	.main{
		width: 810px;
		margin: auto;
	}

	.news-item{
		display: flex;
	}

	.news-gallery{
		width: 390px;
		padding-top: 40px;
	}

	.news-content{
		width: calc(100% - 390px);
		padding-left: 20px;
	}

	.footer .nav{
		padding-top: 50px;
		text-align: center;
	}

	.footer .nav li{
		display: inline-block;
		padding: 0 15px;
	}
}