/* Default browser styles reset*/

* {
	margin: 0;
}

h1, h2, h3, h4, h6, h6{
	font-size: inherit;
	font-weight: normal;
}


/* Box-sizing reset method*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Lists reset*/

ul {
	padding-left: 0;
}

ul > li{
	list-style: none;
}

/* Links style reset */

a{
	text-decoration: none;
}

/* Adaptive font-size for rem */

html{
	font-size: 62.5%; /* 10px / 16px */
}


/* ------------------ Reset end -----------------  */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

/* ------------------ Fonts end -----------------  */

/* Variables */

:root{
	--c-red: #FF0000;
}

/* ------------------ Variables end -----------------  */

.page{
	font-family: 'Space Mono', monospace;
	background-color: black;
	font-size: 2rem;
	line-height: 3rem;
	color: white;
}

.page_theme-light{
	background-color: white;
	color: black; 
}

.main{
	margin: 0 1.2rem;
}

a{
	color: white;
}

.page_theme-light a{
	color: black;
}

.nav{
	width: 30.7rem;
	margin: 4.1rem auto 2.5rem;
}

.nav a{
	line-height: 3.5rem;
}

.nav a:hover{
	color: white;
	background-color: var(--c-red);
}

.header{
	text-align: center;
	padding: 11.6rem 0 5rem;
}

.header span{
	display: block;
	margin-top: 3.8rem;
}

.footer{
	display: flex;
	justify-content: center;
	padding: 5rem 1.2rem 11.6rem;
}

.footer-socials a{
	margin: 0 1.5rem;
}


.footer .nav{
	margin: 0;
	width: 100%;
}

.footer-socials li{
	display: inline-block;
}

.footer-socials a, .footer-socials img{
	display: block;
}

.news-gallery{
	margin-bottom: 4rem;
}

.news-gallery img{
	display: block;
	width: 100%;
	margin-bottom: 2rem;
}

.news-title{
	font-size: 2.5rem;
	line-height: 3.7rem;
	margin-bottom: 2.4rem;
}

.gallery-counter{
	text-align: center;
}

@media screen and (min-width: 600px){
	.main{
		width: 81rem;
		margin: auto;
	}

	.news-item{
		display: flex;
	}

	.news-gallery{
		width: 39rem;
		padding-top: 4rem;
	}

	.news-content{
		width: calc(100% - 39rem);
		padding-left: 2rem;
	}

	.footer .nav{
		padding-top: 5rem;
		text-align: center;
	}

	.footer .nav li{
		display: inline-block;
		padding: 0 1.5rem;
	}
}